<!-- <p>home works!</p> -->
<div class="container ">
    <div class="container mt-3 tblb">
        <h3 class="text-light">Your Recipe</h3>
        <hr>
        <div class="row mt-3 mb-3">
            <div class="col-12 d-start">
                <a class="btn btn-primary" href="#">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 h-50 ">
                <table class="table table-striped text-center">
                    <tr>
                        <th>Action</th>
                        <th>Recipe</th>
                        <th>No Of Ingredients</th>
                    </tr>
                    <tr *ngFor="let item of recipies">
                        <td class="options">
                            <a href="#"><i class="fa-solid fa-eye"></i></a>
                            <a href="#"><i class="fa fa-edit"></i></a>
                            
                        </td>
                        <td class="text-light">{{item.RECIPE_NAME}}</td>
                        <td class="text-light">{{item.TotalIngredients}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>